{{!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head> --}}
<body>
    <div class="header-container">
        <h1 class="header-title">Safari Security Ticket Delete User</h1>
    </div>

    <div class="middle-container">
        <form method="POST">
            <table>
                <tr>
                    <p>Are you sure you want to delete this Ticket? {{name}}</p>
                    <td><input text="Delete" type="submit"><a href="/TicketListing">Return</a></td>
                </tr>
            </table>
        </form>
    </div>

    <div class="footer-container">
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
            Nulla tincidunt volutpat gravida. Proin ac sollicitudin ipsum, vitae interdum risus. 
        </p>
    </div>
</body>
{{!-- </html> --}}