{{!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head> --}}
<body>
    <div>
        <header>Safari Security Ticket Index</header>
        <nav><a href="/Login">Login</a> | <a href="/AboutUs">About Us</a></nav>
    </div>

    <div>
        <middle>About Us</middle>
    </div>

    <div>
        <footer>Footer</footer>
    </div>
</body>
{{!-- </html> --}}