{{!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head> --}}
<body>
    <div>
        <header>ERROR</header>
    </div>

    <div>
        <middle>We're sorry, we could not find the page you are looking for</middle>
        <a href="/">Return to home</a>
    </div>

    <div>
        <footer>Footer</footer>
    </div>
</body>
{{!-- </html> --}}