{{!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head> --}}
<body>
    <div class="header-container">
        <h1 class="header-title">Safari Security Ticket Index</h1>
        <nav class="header-nav"><a href="/Login" class="header-nav-btn">Login</a> | <a href="/AboutUs" class="header-nav-btn">About Us</a></nav>
    </div>

    <div class="middle-container">
        <a href="/SeedDB">Seed Database</a> | | <a href="/DropDB">Drop Database</a>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
            Nulla tincidunt volutpat gravida. Proin ac sollicitudin ipsum, vitae interdum risus. 
            Nulla vitae leo ex. Sed hendrerit leo rhoncus tellus fringilla, vitae dictum tortor pharetra. 
            Pellentesque sagittis fringilla est ut suscipit. Cras rhoncus cursus nibh eget convallis. 
            Cras cursus posuere est, ac pulvinar urna bibendum ut. 
            Nulla feugiat, nisl vel semper egestas, elit tortor tempor diam, et ultrices nulla mauris nec augue. 
            Aenean rhoncus posuere sapien, ut iaculis sem condimentum nec.
            Quisque mattis, dolor quis rhoncus lobortis, mi diam faucibus massa, ut interdum urna elit vel elit. 
            Sed blandit laoreet eros, laoreet auctor diam.
            Duis eu lectus placerat, tristique tortor sit amet, sodales urna. 
            Praesent augue dui, egestas eget iaculis vitae, interdum ut est. 
            Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Quisque at dolor ante. 
            Donec vitae diam in odio varius bibendum vel et risus. In in placerat nisi, ac molestie est. 
            Donec ut consectetur dolor, ac fermentum dolor. Cras id fermentum metus. In vulputate felis augue. 
            Morbi eu commodo nunc. 
            Donec ornare, nisi eu bibendum tincidunt, felis mauris sodales leo, et convallis ante turpis faucibus massa.
            Sed scelerisque sem urna, sit amet tempus turpis viverra at. 
            Vestibulum leo quam, consectetur ac eros sit amet, sollicitudin tincidunt neque.
            Sed pretium quam in erat tempor condimentum.
        </p>
    </div>

    <div class="footer-container">
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
            Nulla tincidunt volutpat gravida. Proin ac sollicitudin ipsum, vitae interdum risus. 
        </p>
    </div>
</body>
{{!-- </html> --}}